
XL/.gradle/6.5.1/executionHistory/executionHistory.bin
XL/.gradle/6.5.1/executionHistory/executionHistory.lock
XL/.gradle/6.5.1/fileHashes/fileHashes.bin
XL/.gradle/6.5.1/fileHashes/fileHashes.lock
XL/.gradle/buildOutputCleanup/buildOutputCleanup.lock
XL/.gradle/buildOutputCleanup/outputFiles.bin
XL/.idea/workspace.xml
XL/.gradle/checksums/checksums.lock
XL/.gradle/buildOutputCleanup/outputFiles.bin
XL/.gradle/buildOutputCleanup/buildOutputCleanup.lock
XL/.gradle/6.5.1/javaCompile/taskHistory.bin
XL/.gradle/6.5.1/javaCompile/javaCompile.lock
XL/.gradle/6.5.1/javaCompile/classAnalysis.bin
XL/.gradle/6.5.1/fileHashes/fileHashes.lock
XL/.gradle/6.5.1/fileHashes/fileHashes.bin
XL/.gradle/6.5.1/fileContent/fileContent.lock
XL/.gradle/6.5.1/executionHistory/executionHistory.lock
XL/.gradle/6.5.1/executionHistory/executionHistory.bin
XL/.gradle/6.5.1/executionHistory/executionHistory.bin
XL/.gradle/6.5.1/executionHistory/executionHistory.lock
XL/.gradle/6.5.1/fileHashes/fileHashes.bin
XL/.gradle/6.5.1/fileHashes/fileHashes.lock
XL/.gradle/6.5.1/executionHistory/executionHistory.bin
XL/.gradle/6.5.1/executionHistory/executionHistory.lock
XL/.gradle/6.5.1/fileHashes/fileHashes.bin
XL/.gradle/6.5.1/fileHashes/fileHashes.lock
XL/.gradle/6.5.1/javaCompile/classAnalysis.bin
XL/.gradle/6.5.1/javaCompile/javaCompile.lock
XL/.gradle/6.5.1/javaCompile/taskHistory.bin
XL/.gradle/buildOutputCleanup/buildOutputCleanup.lock
XL/.gradle/buildOutputCleanup/outputFiles.bin
XL/.idea/workspace.xml
XL/build/classes/java/main/gui/XL.class
XL/build/classes/java/main/model/CellBuilder.class
XL/build/classes/java/main/model/CircularError.class
XL/build/classes/java/main/model/XLModel.class
XL/build/classes/java/main/module-info.class
XL/build/tmp/compileJava/source-classes-mapping.txt
XL/.idea/workspace.xml
