
XL/.gradle/6.5.1/executionHistory/executionHistory.bin
XL/.gradle/6.5.1/executionHistory/executionHistory.lock
XL/.gradle/6.5.1/fileHashes/fileHashes.bin
XL/.gradle/6.5.1/fileHashes/fileHashes.lock
XL/.gradle/buildOutputCleanup/buildOutputCleanup.lock
XL/.gradle/buildOutputCleanup/outputFiles.bin
XL/.idea/workspace.xml
